Board {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: #444;

	.monopoly-root {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-color: #111;
	}

	.board-wrap {
		position: absolute;

		left: 50%;
		top: 50%;

		width: 90vmin;
		height: 90vmin;

		transform: translate(-50% -50%);
	}

	.board-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		width: 100%;
		height: 100%;
	}
}