MonopolySpaceLabel {
	width: 100%;
	height: 100%;

	pointer-events: none;

	.monopoly-space-label {
		width: 100%;
		height: 100%;

		background-color: rgba(207, 232, 226, 0.96);
		border: 8px solid #050505;

		display: flex;
		flex-direction: column;

		font-family: Poppins;
		color: #050505;
		
		
	}

	.label-color-bar {
		height: 18px;
		background-color: transparent;
		border-bottom: 4px solid #050505;
	}

	.color-none .label-color-bar {
		display: none;
	}

	.color-brown .label-color-bar {
		background-color: #8b3a00;
	}

	.color-light_blue .label-color-bar {
		background-color: #7fa1d0;
	}

	.color-pink .label-color-bar {
		background-color: #ed1978;
	}

	.color-orange .label-color-bar {
		background-color: #ff7f0e;
	}

	.color-red .label-color-bar {
		background-color: #f22520;
	}

	.color-yellow .label-color-bar {
		background-color: #ffe21a;
	}

	.color-green .label-color-bar {
		background-color: #07a64f;
	}

	.color-dark_blue .label-color-bar {
		background-color: #06469a;
	}

	.label-text {
		flex: 1;
		padding: 60px 12px;

		align-items: center;
		justify-content: flex-start;

		display: flex;
		flex-direction: column;

		text-align: center;
		text-transform: uppercase;
		font-size: 25px;
		font-weight: 900;
		line-height: 25px;
	}

	.label-text div {
		width: 100%;
		justify-content: center;
		text-align: center;
	}

	// Per-space overrides can target classes like .label-text-space-6.

	//.label-text-space-6 {
	//	padding-top: 15px;
	//}

	.label-text-space-8 {
		line-height: 25px;
	}

	.label-text-space-9 div {
		width: 50%;
		line-height: 25px;
		
	}

	.label-text-space-9 div {
		width: 120%;
		letter-spacing: -2px;
		font-size: 50%;
	}
}
