{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "dice": "Unset",
    "board_space": "Unset",
    "monopoly_space": "Unset"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "board_space",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "dice",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "monopoly_space",
      "r": "Trigger"
    },
    {
      "a": "dice",
      "b": "monopoly_space",
      "r": "Ignore"
    },
    {
      "a": "dice",
      "b": "board_space",
      "r": "Ignore"
    }
  ],
  "__guid": "7d352491-cf1d-4138-9390-dab3309fc8af",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}