{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "Backward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "Right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Jump",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "space",
      "GamepadCode": "A"
    },
    {
      "Name": "Run",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton"
    },
    {
      "Name": "Walk",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "alt",
      "GamepadCode": "None"
    },
    {
      "Name": "Duck",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "ctrl",
      "GamepadCode": "B"
    },
    {
      "Name": "Attack1",
      "GroupName": "Actions",
      "Title": "Primary Attack",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "Attack2",
      "GroupName": "Actions",
      "Title": "Secondary Attack",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger"
    },
    {
      "Name": "RollDice",
      "GroupName": "Actions",
      "Title": "Roll Dice",
      "KeyboardCode": "r",
      "GamepadCode": "X"
    },
    {
      "Name": "EndTurn",
      "GroupName": "Actions",
      "Title": "End Turn",
      "KeyboardCode": "e",
      "GamepadCode": "Y"
    },
    {
      "Name": "Voice",
      "GroupName": "Application",
      "Title": null,
      "KeyboardCode": "v",
      "GamepadCode": "None"
    },
    {
      "Name": "Score",
      "GroupName": "UI",
      "Title": "Scoreboard",
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu"
    },
    {
      "Name": "Chat",
      "GroupName": "UI",
      "Title": null,
      "KeyboardCode": "enter",
      "GamepadCode": "None"
    },
    {
      "Name": "GameConsole",
      "GroupName": "Application",
      "Title": "GameConsole",
      "KeyboardCode": "=",
      "GamepadCode": "None"
    },
    {
      "Name": "EditorMenu",
      "GroupName": "Application",
      "Title": null,
      "KeyboardCode": "M",
      "GamepadCode": "None"
    },
    {
      "Name": "Fullscreen",
      "GroupName": "Application",
      "Title": "Fullscreen",
      "KeyboardCode": "P",
      "GamepadCode": "None"
    },
    {
      "Name": "ParticleTest",
      "GroupName": "Test",
      "Title": null,
      "KeyboardCode": "N",
      "GamepadCode": "None"
    },
    {
      "Name": "EditorConsole",
      "GroupName": "Application",
      "Title": "EditorConsole",
      "KeyboardCode": "=",
      "GamepadCode": "None"
    },
    {
      "Name": "ClearAllPopups",
      "GroupName": "UI",
      "Title": "Clear All Popups",
      "KeyboardCode": "C",
      "GamepadCode": "None"
    },
    {
      "Name": "",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": null,
      "GamepadCode": "None"
    }
  ],
  "__guid": "813052ef-0b8e-4c85-875e-13d81b37b088",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}