{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": true,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "b3e0cb98-6dde-49b4-97bc-3361e557a25a",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}