.info-card {
    position: absolute;
    top: 32px;
    left: 32px;

    width: 320px;
    padding: 20px;

    background-color: rgba(10, 10, 10, 0.85);
    border-radius: 16px;

    color: white;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;

    flex-direction: column;
    gap: 8px;

    pointer-events: all;
}